mapsforge-map/src/main/resources/renderTheme-v4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mapsforge.org/renderTheme"
	xmlns:tns="http://mapsforge.org/renderTheme" elementFormDefault="qualified" xml:lang="en">
	<!-- attribute types -->
	<xs:simpleType name="cap">
		<xs:restriction base="xs:string">
			<xs:enumeration value="butt" />
			<xs:enumeration value="round" />
			<xs:enumeration value="square" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="position">
		<xs:restriction base="xs:string">
			<xs:enumeration value="auto" />
			<xs:enumeration value="center" />
			<xs:enumeration value="below" />
			<xs:enumeration value="below_left" />
			<xs:enumeration value="below_right" />
			<xs:enumeration value="above" />
			<xs:enumeration value="above_left" />
			<xs:enumeration value="above_right" />
			<xs:enumeration value="left" />
			<xs:enumeration value="right" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="closed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes" />
			<xs:enumeration value="no" />
			<xs:enumeration value="any" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="color">
		<xs:annotation>
			<xs:documentation>Supported formats are #RRGGBB and #AARRGGBB.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="#([0-9a-fA-F]{6}|[0-9a-fA-F]{8})" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="display">
		<xs:restriction base="xs:string">
			<xs:enumeration value="always" />
			<xs:enumeration value="never" />
			<xs:enumeration value="ifspace" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="elementList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="node" />
			<xs:enumeration value="way" />
			<xs:enumeration value="any" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="fontFamily">
		<xs:restriction base="xs:string">
			<xs:enumeration value="default" />
			<xs:enumeration value="monospace" />
			<xs:enumeration value="sans_serif" />
			<xs:enumeration value="serif" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="fontStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bold" />
			<xs:enumeration value="bold_italic" />
			<xs:enumeration value="italic" />
			<xs:enumeration value="normal" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="linejoin">
		<xs:restriction base="xs:string">
			<xs:enumeration value="miter" />
			<xs:enumeration value="round" />
			<xs:enumeration value="bevel" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonNegativeFloat">
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="scaling">
		<xs:restriction base="xs:string">
			<xs:pattern value="(default|size|percent)" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="src">
		<xs:restriction base="xs:string">
			<xs:pattern value="(jar|file|assets):.+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="strokeDasharray">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]+(\.[0-9]+)? *, *[0-9]+(\.[0-9]+)? *, *)*[0-9]+(\.[0-9]+)? *, *[0-9]+(\.[0-9]+)?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="textKey">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ele" />
			<xs:enumeration value="addr:housenumber" />
			<xs:enumeration value="name" />
			<xs:enumeration value="ref" />
		</xs:restriction>
	</xs:simpleType>

 	<xs:complexType name="area">
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="src" type="tns:src" use="optional" />
		<xs:attribute name="symbol-scaling" type="tns:scaling" use="optional" default="default"/>
		<xs:attribute name="symbol-width" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-height" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-percent" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="fill" type="tns:color" use="optional" default="#000000" />
		<xs:attribute name="stroke" type="tns:color" use="optional" default="#00000000" />
		<xs:attribute name="stroke-width" type="tns:nonNegativeFloat" use="optional" default="0" />
	</xs:complexType>

	<xs:complexType name="caption">
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="priority" type="xs:integer" use="optional" default="0"/>
		<xs:attribute name="k" type="tns:textKey" use="required" />
		<xs:attribute name="display" type="tns:display" use="optional" default="ifspace"/>
		<xs:attribute name="dy" type="xs:float" use="optional" default="0" />
		<xs:attribute name="font-family" type="tns:fontFamily" use="optional" default="default" />
		<xs:attribute name="font-style" type="tns:fontStyle" use="optional" default="normal" />
		<xs:attribute name="font-size" type="tns:nonNegativeFloat" use="optional" default="0" />
		<xs:attribute name="fill" type="tns:color" use="optional" default="#000000" />
		<xs:attribute name="stroke" type="tns:color" use="optional" default="#000000" />
		<xs:attribute name="stroke-width" type="tns:nonNegativeFloat" use="optional" default="0" />
		<xs:attribute name="position" type="tns:position" use="optional" default="auto" />
		<xs:attribute name="symbol-id" type="xs:string" use="optional" />
    </xs:complexType>

	<!-- style menu cat element -->
	<xs:complexType name="cat">
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>

 	<xs:complexType name="circle">
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="radius" type="tns:nonNegativeFloat" use="required" />
		<xs:attribute name="scale-radius" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="fill" type="tns:color" use="optional" default="#00000000" />
		<xs:attribute name="stroke" type="tns:color" use="optional" default="#00000000" />
		<xs:attribute name="stroke-width" type="tns:nonNegativeFloat" use="optional" default="0" />
	</xs:complexType>

	<!-- style menu layer element -->
	<xs:complexType name="layer">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="name" type="tns:name" />
			</xs:sequence>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="cat" type="tns:cat" />
			</xs:sequence>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="overlay" type="tns:overlay" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required" />
		<xs:attribute name="parent" type="xs:string" use="optional" />
		<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
	</xs:complexType>

	<xs:complexType name="line">
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="src" type="tns:src" use="optional" />
		<xs:attribute name="symbol-scaling" type="tns:scaling" use="optional" default="default"/>
		<xs:attribute name="symbol-width" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-height" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-percent" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="dy" type="xs:float" use="optional" default="0" />
		<xs:attribute name="stroke" type="tns:color" use="optional" default="#000000" />
		<xs:attribute name="stroke-width" type="tns:nonNegativeFloat" use="optional" default="0" />
		<xs:attribute name="stroke-dasharray" type="tns:strokeDasharray" use="optional" />
		<xs:attribute name="stroke-linecap" type="tns:cap" use="optional" default="round" />
		<xs:attribute name="stroke-linejoin" type="tns:linejoin" use="optional" default="round" />
	</xs:complexType>

	<xs:complexType name="lineSymbol">
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="display" type="tns:display" use="optional" default="ifspace"/>
		<xs:attribute name="dy" type="xs:float" use="optional" default="0" />
		<xs:attribute name="src" type="tns:src" use="required" />
		<xs:attribute name="symbol-scaling" type="tns:scaling" use="optional" default="default"/>
		<xs:attribute name="symbol-width" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-height" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-percent" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="align-center" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="priority" type="xs:integer" use="optional" default="0"/>
		<xs:attribute name="repeat" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="repeat-gap" type="xs:float" use="optional" default="200" />
		<xs:attribute name="repeat-start" type="xs:float" use="optional" default="30" />
		<xs:attribute name="rotate" type="xs:boolean" use="optional" default="true" />
	</xs:complexType>

	<!-- style menu name element -->
	<xs:complexType name="name">
		<xs:attribute name="lang" type="xs:string" use="required" />
		<xs:attribute name="value" type="xs:string" use="required" />
	</xs:complexType>

	<!-- style menu overlay element -->
	<xs:complexType name="overlay">
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="pathText">
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="display" type="tns:display" use="optional" default="ifspace"/>
		<xs:attribute name="k" type="tns:textKey" use="required" />
		<xs:attribute name="dy" type="xs:float" use="optional" default="0" />
		<xs:attribute name="font-family" type="tns:fontFamily" use="optional" default="default" />
		<xs:attribute name="font-style" type="tns:fontStyle" use="optional" default="normal" />
		<xs:attribute name="font-size" type="tns:nonNegativeFloat" use="optional" default="0" />
		<xs:attribute name="fill" type="tns:color" use="optional" default="#000000" />
		<xs:attribute name="priority" type="xs:integer" use="optional" default="0"/>
		<xs:attribute name="stroke" type="tns:color" use="optional" default="#000000" />
		<xs:attribute name="stroke-width" type="tns:nonNegativeFloat" use="optional" default="0" />
	</xs:complexType>

	<xs:complexType name="symbol">
		<xs:attribute name="id" type="xs:string" use="optional" />
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="display" type="tns:display" use="optional" default="ifspace"/>
		<xs:attribute name="priority" type="xs:integer" use="optional" default="0"/>
		<xs:attribute name="src" type="tns:src" use="required" />
		<xs:attribute name="symbol-scaling" type="tns:scaling" use="optional" default="default"/>
		<xs:attribute name="symbol-width" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-height" type="xs:positiveInteger" use="optional" />
		<xs:attribute name="symbol-percent" type="xs:positiveInteger" use="optional" />
    </xs:complexType>

<!-- rule elements -->
	<xs:complexType name="rule">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- recursion to allow for nested rules -->
			<xs:element name="rule" type="tns:rule" />
			<xs:element name="area" type="tns:area" />
			<xs:element name="caption" type="tns:caption" />
			<xs:element name="circle" type="tns:circle" />
			<xs:element name="line" type="tns:line" />
			<xs:element name="lineSymbol" type="tns:lineSymbol" />
			<xs:element name="pathText" type="tns:pathText" />
			<xs:element name="symbol" type="tns:symbol" />
		</xs:choice>
		<xs:attribute name="e" type="tns:elementList" use="required" />
		<xs:attribute name="k" type="xs:string" use="required" />
		<xs:attribute name="v" type="xs:string" use="required" />
		<xs:attribute name="cat" type="xs:string" use="optional" />
		<xs:attribute name="closed" type="tns:closed" use="optional" default="any" />
		<xs:attribute name="zoom-min" type="xs:unsignedByte" use="optional" default="0" />
		<xs:attribute name="zoom-max" type="xs:unsignedByte" use="optional" default="127" />
	</xs:complexType>


	<!-- rendertheme element -->
	<xs:complexType name="rendertheme">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="stylemenu" type="tns:stylemenu" />
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="rule" type="tns:rule" />
		    </xs:sequence>
		</xs:sequence>
		<xs:attribute name="version" type="xs:positiveInteger" fixed="4" />
		<xs:attribute name="map-background" type="tns:color" use="optional" default="#ffffff" />
		<xs:attribute name="map-background-outside" type="tns:color" use="optional" default="#ffffff" />
		<xs:attribute name="base-stroke-width" type="tns:nonNegativeFloat" use="optional" default="1" />
		<xs:attribute name="base-text-size" type="tns:nonNegativeFloat" use="optional" default="1" />
	</xs:complexType>

 	<!-- stylemenu element -->
 	<xs:complexType name="stylemenu">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="style" type="tns:layer" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="defaultvalue" type="xs:string" use="required" />
		<xs:attribute name="defaultlang" type="xs:string" use="optional" />
		<xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

	<!-- root element -->
	<xs:element name="rendertheme" type="tns:rendertheme" />
</xs:schema>
